apiVersion: v1
kind: Service
metadata:
  name: tempo
  namespace: observability
spec:
  type: ClusterIP
  selector:
    app: tempo
  ports:
    - port: 3200
      targetPort: 3200
      name: http
    - port: 4318
      targetPort: 4318
      name: otlp-http
