apiVersion: v1
kind: ConfigMap
metadata:
  name: tempo-config
  namespace: observability
data:
  tempo-config.yaml: |
    server:
      http_listen_port: 3200
      grpc_listen_port: 4317
    
    distributor:
      receivers:
        otlp:
          protocols:
            http:
              endpoint: 0.0.0.0:4318
    
    ingester:
      lifecycler:
        ring:
          replication_factor: 1
      max_block_duration: 5m
    
    compactor:
      compaction:
        compacted_block_retention: 10m
    
    storage:
      trace:
        backend: local
        wal:
          path: /var/tempo/wal
        local:
          path: /var/tempo/traces
