apiVersion: v1
kind: Service
metadata:
  name: prometheus
  namespace: default
spec:
  type: ClusterIP
  selector:
    prometheus: prometheus
  ports:
    - port: 9090
      targetPort: 9090
      name: web
