apiVersion: v1
data:
  tempo-config.yaml: |
    server:
      http_listen_port: 3200
      grpc_listen_port: 4317

    distributor:
      receivers:
        otlp:
          protocols:
            http:
              endpoint: 0.0.0.0:4318

    ingester:
      lifecycler:
        ring:
          replication_factor: 1
      max_block_duration: 5m

    compactor:
      compaction:
        compacted_block_retention: 10m

    storage:
      trace:
        backend: local
        wal:
          path: /var/tempo/wal
        local:
          path: /var/tempo/traces
kind: ConfigMap
metadata:
  annotations:
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"v1","data":{"tempo-config.yaml":"server:\n  http_listen_port: 3200\n  grpc_listen_port: 4317\n\ndistributor:\n  receivers:\n    otlp:\n      protocols:\n        http:\n          endpoint: 0.0.0.0:4318\n\ningester:\n  lifecycler:\n    ring:\n      replication_factor: 1\n  max_block_duration: 5m\n\ncompactor:\n  compaction:\n    compacted_block_retention: 10m\n\nstorage:\n  trace:\n    backend: local\n    wal:\n      path: /var/tempo/wal\n    local:\n      path: /var/tempo/traces\n"},"kind":"ConfigMap","metadata":{"annotations":{},"name":"tempo-config","namespace":"observability"}}
  creationTimestamp: "2025-10-30T11:47:36Z"
  name: tempo-config
  namespace: observability
  resourceVersion: "6785"
  uid: 5278214d-2d7d-4076-9f10-afb4dfeb1e55
