apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: observability-copilot
spec:
  type: ClusterIP
  selector:
    app: backend
  ports:
  - protocol: TCP
    port: 8000
    targetPort: 8000
