apiVersion: v1
data:
  config.yaml: |
    receivers:
      otlp:
        protocols:
          grpc:
            endpoint: 0.0.0.0:4317
          http:
            endpoint: 0.0.0.0:4318
      prometheus:
        config:
          scrape_configs:
            - job_name: 'demo-app'
              static_configs:
                - targets: ['demo-app:8000']

    processors:
      memory_limiter:
        check_interval: 1s
        limit_mib: 4000
        spike_limit_mib: 500
      batch:
        send_batch_size: 100

    exporters:
      otlphttp:
        endpoint: "http://tempo.observability.svc.cluster.local:4318"
        timeout: 10s

    service:
      pipelines:
        traces:
          receivers: [otlp]
          processors: [memory_limiter, batch]
          exporters: [otlphttp]
kind: ConfigMap
metadata:
  name: otel-collector-config
  namespace: observability
  selfLink: /api/v1/namespaces/observability/configmaps/otel-collector-config

