apiVersion: v1
kind: Service
metadata:
  name: otel-collector
  namespace: observability
spec:
  type: ClusterIP
  selector:
    app: otel-collector
  ports:
    - port: 4317
      targetPort: 4317
      name: grpc
    - port: 4318
      targetPort: 4318
      name: http
    - port: 8889
      targetPort: 8889
      name: metrics
