apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: observability
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
      evaluation_interval: 15s
    
    scrape_configs:
      - job_name: 'demo-app'
        static_configs:
          - targets: ['demo-app:8000']
      - job_name: 'prometheus'
        static_configs:
          - targets: ['localhost:9090']
