apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "2"
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"apps/v1","kind":"Deployment","metadata":{"annotations":{},"name":"demo-app","namespace":"observability"},"spec":{"replicas":1,"selector":{"matchLabels":{"app":"demo-app"}},"template":{"metadata":{"labels":{"app":"demo-app"}},"spec":{"containers":[{"image":"demo-app:latest","imagePullPolicy":"Never","livenessProbe":{"httpGet":{"path":"/health","port":8080,"scheme":"HTTP"},"initialDelaySeconds":5,"periodSeconds":10},"name":"demo-app","ports":[{"containerPort":8080,"name":"http","protocol":"TCP"}]}]}}}}
  creationTimestamp: "2025-10-30T10:17:11Z"
  generation: 6
  name: demo-app
  namespace: observability
  resourceVersion: "6070"
  uid: b98f99bc-e128-4620-938b-dcd5641d521d
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: demo-app
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: demo-app
    spec:
      containers:
      - image: demo-app:latest
        imagePullPolicy: Never
        livenessProbe:
          failureThreshold: 3
          httpGet:
            path: /health
            port: 8080
            scheme: HTTP
          initialDelaySeconds: 5
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 1
        name: demo-app
        ports:
        - containerPort: 8080
          name: http
          protocol: TCP
        resources: {}
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
status:
  availableReplicas: 1
  conditions:
  - lastTransitionTime: "2025-10-30T10:17:11Z"
    lastUpdateTime: "2025-10-30T10:36:13Z"
    message: ReplicaSet "demo-app-d797cdc45" has successfully progressed.
    reason: NewReplicaSetAvailable
    status: "True"
    type: Progressing
  - lastTransitionTime: "2025-10-30T11:35:39Z"
    lastUpdateTime: "2025-10-30T11:35:39Z"
    message: Deployment has minimum availability.
    reason: MinimumReplicasAvailable
    status: "True"
    type: Available
  observedGeneration: 6
  readyReplicas: 1
  replicas: 1
  updatedReplicas: 1
