apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "1"
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"apps/v1","kind":"Deployment","metadata":{"annotations":{},"name":"grafana","namespace":"observability"},"spec":{"replicas":1,"selector":{"matchLabels":{"app":"grafana"}},"template":{"metadata":{"labels":{"app":"grafana"}},"spec":{"containers":[{"env":[{"name":"GF_SECURITY_ADMIN_PASSWORD","value":"admin"},{"name":"GF_SECURITY_ADMIN_USER","value":"admin"}],"image":"grafana/grafana:latest","name":"grafana","ports":[{"containerPort":3000,"name":"http"}],"volumeMounts":[{"mountPath":"/etc/grafana/provisioning/datasources","name":"datasources"}]}],"volumes":[{"configMap":{"name":"grafana-datasources"},"name":"datasources"}]}}}}
  creationTimestamp: "2025-10-30T10:05:54Z"
  generation: 1
  name: grafana
  namespace: observability
  resourceVersion: "1098"
  uid: 608e4774-da36-4858-8cc3-8053748c5716
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: grafana
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: grafana
    spec:
      containers:
      - env:
        - name: GF_SECURITY_ADMIN_PASSWORD
          value: admin
        - name: GF_SECURITY_ADMIN_USER
          value: admin
        image: grafana/grafana:latest
        imagePullPolicy: Always
        name: grafana
        ports:
        - containerPort: 3000
          name: http
          protocol: TCP
        resources: {}
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        volumeMounts:
        - mountPath: /etc/grafana/provisioning/datasources
          name: datasources
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
      volumes:
      - configMap:
          defaultMode: 420
          name: grafana-datasources
        name: datasources
status:
  availableReplicas: 1
  conditions:
  - lastTransitionTime: "2025-10-30T10:06:01Z"
    lastUpdateTime: "2025-10-30T10:06:01Z"
    message: Deployment has minimum availability.
    reason: MinimumReplicasAvailable
    status: "True"
    type: Available
  - lastTransitionTime: "2025-10-30T10:05:54Z"
    lastUpdateTime: "2025-10-30T10:06:01Z"
    message: ReplicaSet "grafana-695477bb45" has successfully progressed.
    reason: NewReplicaSetAvailable
    status: "True"
    type: Progressing
  observedGeneration: 1
  readyReplicas: 1
  replicas: 1
  updatedReplicas: 1
