apiVersion: v1
data:
  config.yaml: |
    receivers:
      otlp:
        protocols:
          grpc:
            endpoint: 0.0.0.0:4317
          http:
            endpoint: 0.0.0.0:4318
      prometheus:
        config:
          scrape_configs:
            - job_name: 'demo-app'
              static_configs:
                - targets: ['demo-app:8000']

    processors:
      memory_limiter:
        check_interval: 1s
        limit_mib: 4000
        spike_limit_mib: 500
      batch:
        send_batch_size: 100

    exporters:
      otlphttp:
        endpoint: "http://tempo.observability.svc.cluster.local:4318"
        timeout: 10s

    service:
      pipelines:
        traces:
          receivers: [otlp]
          processors: [memory_limiter, batch]
          exporters: [otlphttp]
kind: ConfigMap
metadata:
  annotations:
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"v1","data":{"config.yaml":"receivers:\n  otlp:\n    protocols:\n      grpc:\n        endpoint: 0.0.0.0:4317\n      http:\n        endpoint: 0.0.0.0:4318\n  prometheus:\n    config:\n      scrape_configs:\n        - job_name: 'demo-app'\n          static_configs:\n            - targets: ['demo-app:8000']\n\nprocessors:\n  memory_limiter:\n    check_interval: 1s\n    limit_mib: 4000\n    spike_limit_mib: 500\n  batch:\n    send_batch_size: 100\n\nexporters:\n  otlphttp:\n    endpoint: \"http://tempo.observability.svc.cluster.local:4318\"\n    timeout: 10s\n\nservice:\n  pipelines:\n    traces:\n      receivers: [otlp]\n      processors: [memory_limiter, batch]\n      exporters: [otlphttp]\n"},"kind":"ConfigMap","metadata":{"annotations":{},"name":"otel-collector-config","namespace":"observability"}}
  creationTimestamp: "2025-10-30T11:53:13Z"
  name: otel-collector-config
  namespace: observability
  resourceVersion: "7144"
  uid: 33f40c40-9f99-41a8-b30e-fc2c722842e3
