apiVersion: v1
kind: Service
metadata:
  name: demo-app
  namespace: observability
  labels:
    app: demo-app
spec:
  type: ClusterIP
  selector:
    app: demo-app
  ports:
    - port: 8080
      targetPort: 8080
      name: http
