apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: demo-app
  namespace: default
  labels:
    app: observability
spec:
  namespaceSelector:
    matchNames:
      - observability
  selector:
    matchLabels:
      app: demo-app
  endpoints:
    - port: http
      interval: 2s
      path: /metrics
